
@media (max-width: 1536px) {
    .LandingPage {
        background-color: #fff;
        height: 834px;
    }
    .LandingPage .buttonDiv {
        padding-right: 5%;
        background-color: #eee;
        line-height: 7rem;
    }
    .LandingPage .buttonDiv h3 {
        display: inline;
        padding-left: 45%;
        font-size: 35px;
    }
    .LandingPage .buttonDiv img {
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-top: 38px;
    }

    .LandingPage .buttonDiv .cart {
        float: right;
    }

    .LandingPage .buttonDiv .logout {
        margin-right: 25px;
        float: right;
    }

    .LandingPage .buttonDiv span {
        float: right;
        font-size: 22px;
        margin-top: 10px;
        margin-left: -10px;
        padding: 0;
        border-radius: 50%;
    }

    .LandingPage a {
        float: right;
        padding-right: 5%;
        padding-top: 2%;
        text-decoration: underline;
    }
}