@media(max-width: 1536px) {
    .ViewAllOffers {

    }
    .ViewAllOffers .backButton img {
        width: 40px;
        height: auto;
        margin: 25px;
        cursor: pointer;
    }
    .ViewAllOffers .OfferList {
        height: 650px;
        overflow: auto;
        padding-left: 20%;
        padding-right: 20%;
        padding-bottom: 20%;
    }
}