body {
    height: 760px;
    margin: 0;
    background: url("./banner.jpg") no-repeat;
    background-size: cover;
    font-family: Arial,sans-serif,"Helvetica";
}

#root {
    background: rgba(0, 0, 0, 0.4);
    height: 760px;
}