@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';

body {
    
}

@media(max-width: 1536px) {
    body {
        background-image: url("./banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    #root {
        background: rgba(0, 0, 0, 0.3);
        height: 768px;
    }
}

@media(max-width: 1049px) {
    body {
        background-image: url("./banner-1.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media(max-width: 769px) {
    body {
        background-image: url("./banner-2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}